/* developed by michael ruddy 2012 */

body {
  margin: 0px 0px 0px 0px;
  border: 0px none #000000;
  padding: 0px 0px 0px 0px;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Oswald', arial, sans-serif;
  font-size: 10pt;
  /* needed for ie quirks mode */
  text-align: center;
}

img {
  margin: 0px;
  border: 0px solid #000000;
  padding: 0px;
  /* trick to keep extra padding out of the bottom of divs */
  vertical-align: bottom;
}

a {
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
}

ul {
  margin: 0px;
}

.mainContainer {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  /* use this width because the largest content area images are 1000px wide */
  width: 1050px;
}

.mainArea {
  /* need for ie */
  text-align: center;
}

.footer {
  text-align: right;
  padding: 5px;
  /* for layouts that have floating elements just before the footer */
  clear: both;
}

.footer .links {
  font-size: 14pt;
  color: #ffffff;
}

.footer .copyright {
  font-size: 8pt;
  color: #333333;
}

#photoSwitcher .switcher-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#photoSwitcher span {
  margin: 7px;
  font-size: 12pt;
}

#photoSwitcher span.active {
  background-color: #ffffff;
  color: #000000;
}

#photoSwitcher .switcher-items span {
  cursor: pointer;
}

#photoSwitcher .height-equalizer {
  /* this just has to be taller than the tallest image to avoid jumping the controls around as the user mouses around */
  height: 750px;
}

#photoSwitcher .switcher-ui img {
  display: inline;
  cursor: pointer;
}

#photoSwitcher img.play {
  display: none;
}

.infoArea {
  background-color: #888888;
  color: #ffffff;
  font-size: 20pt;
  font-weight: bold;
  text-align: left;
  border: 4px solid #888888;
  border-radius: 10px;
  width: 95%;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.infoAreaHead {
  padding: 5px;
}

.infoAreaHead a {
  background-color: #888888;
  color: #ffffff;
}

.infoAreaBody {
  background-color: #e0e0e0;
  text-align: center;
  padding: 5px 0px 5px 0px;
  font-family: arial, sans-serif;
}

table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}

.infoArea td.info {
  width: 250px;
}

.infoArea tr.top-bottom-border {
  border-top: 4px solid #888888;
  border-bottom: 4px solid #888888;
}

.infoArea tr.bottom-border {
  border-bottom: 4px solid #888888;
}

.infoArea th {
  text-align: center;
  font-size: 12pt;
  color: #000000;
}

.infoArea td {
  vertical-align: top;
  text-align: left;
  padding: 5px;
  font-size: 10pt;
  color: #000000;
}

div.desc, .faq, .policy {
  text-align: left;
  padding: 5px;
  color: #000000;
  font-size: 12pt;
}

div.desc {
  margin: 10px 100px 10px 100px;
}

.policy {
  margin: 10px 10px 10px 10px;
}

div.desc a, .faq a {
  color: #000000;
  background-color: #e0e0e0;
  text-decoration: underline;
}

a.moreinfo {
  font-size: 8pt;
  color: #000000;
  background-color: #e0e0e0;
  text-decoration: underline;
}
